<div class="reset-password-container">
    <h2>Reset your password</h2>
  
    <form>
      <label for="email">Email address</label>
      <input type="email" id="email" placeholder="you@example.com" required>
  
      <button type="submit" class="btn-reset">Send reset link</button>
    </form>
  
    <p class="footer-text">
      <a href="/login">Or go back</a>
    </p>
    <p class="footer-text">
      Still having issues? Reach out to <a href="mailto:support@yourdomain.com">support&#64;yourdomain.com</a>
    </p>
  </div>
  